<!DOCTYPE html>
<html>
<!--
	WebPlotDigitizer - https://automeris.io/WebPlotDigitizer

	Copyright 2010-2024 Ankit Rohatgi <ankitrohatgi@hotmail.com>

	This file is part of WebPlotDigitizer.

    WebPlotDigitizer is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    WebPlotDigitizer is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with WebPlotDigitizer.  If not, see <http://www.gnu.org/licenses/>.
-->
{% set wpdVersion = '4.7' %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Description" content="WebPlotDigitizer v{{ wpdVersion }} - {{ _("Web based tool to extract numerical data from plots and graph images.") }}" />
    <meta name="Keywords" content="Plot, Digitizer, WebPlotDigitizer, Ankit Rohatgi, Extract Data, Convert Plots, XY, Polar, Ternary, Map, HTML5" />
    <meta name="Author" content="Ankit Rohatgi" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>WebPlotDigitizer - Copyright 2010-2024 Ankit Rohatgi</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="styles.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="insilicall-buttons.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="widgets.css" type="text/css" media="screen" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    {% block scripts %}{% endblock %}

    <!-- thirdparty -->
    <script src="node_modules/pdfjs-dist/build/pdf.js"></script>
    <script>
        pdfjsLib.GlobalWorkerOptions.workerSrc = "node_modules/pdfjs-dist/build/pdf.worker.js";
    </script>
    <script src="node_modules/tarballjs/tarball.js"></script>
    <script>
        function decrease(element_id) {
            const element = document.getElementById(element_id);

            element.value = parseInt(element.value) - 1;
        }

        function increase(element_id) {
            const element = document.getElementById(element_id);

            element.value = parseInt(element.value) + 1;
        }

        function increaseXPlot() {
          const xStep = document.getElementById('algo-param-xStep');
          const yStep = document.getElementById('algo-param-yStep');

          xStep.value = parseInt(xStep.value) + 1;
          yStep.value = parseInt(yStep.value) + 1;
          this.wpd.algoManager.run()
        }

        function decreaseXPlot() {
          const xStep = document.getElementById('algo-param-xStep');
          const yStep = document.getElementById('algo-param-yStep');

          xStep.value = xStep.value === "0" ? "0" : parseInt(xStep.value) - 1;
          yStep.value = yStep.value === "0" ? "0" : parseInt(yStep.value) - 1;
          this.wpd.algoManager.run()
        }
    </script>
</head>

<body>

    <div id="loadingCurtain" style="position: absolute; top: 0px; left: 0px; z-index: 100; width: 100%; height: 100%; background-color: white;">
        {{ _("Loading application, please wait...") }}
        <br />
        <br />
        {{ _("Problems loading? Make sure you have a recent version of Google Chrome, Firefox, Safari or Microsoft Edge installed.") }}
    </div>
    <div id="pick-tip" style="opacity: 1; transition: .3s ease-in-out;">
      <h3>
        Start picking X-Y chart axis.
      </h3>
    </div>
    <div class="d-flex flex-wrap">
      <div id="AxisForm" style="opacity: 0; visibility: 0; transition: .3s ease-in-out; height: 0;" >
        <h3>Insert the value of the
          X-Y pins
        </h3>
        <div class="d-flex gap-10 axis-box" style="width: 90%;">
          <div class="d-flex gap-10">
            <div class="d-flex position-relative">
              <div class="position-absolute label">
                Axis X1
              </div>
              <div class="minus" onclick="decrease('xmin')">
                <span>
                  <div class="minus-icon">
                  </div>
                </span>
              </div>
              <input class="axis-input" type="number" size="8" id="xmin" value="0" onfocus="wpd.alignAxes.zoomCalPoint(0);" />
              <div class="plus" onclick="increase('xmin')">
                <span>
                  +
                </span>
              </div>
            </div>

            <div class="d-flex position-relative">
              <div class="position-absolute label">
                Axis X2
              </div>
              <div class="minus" onclick="decrease('xmax')">
                <span>
                  <div class="minus-icon">
                  </div>
                </span>
              </div>
              <input class="axis-input" type="number" size="8" id="xmax" value="0" onfocus="wpd.alignAxes.zoomCalPoint(0);" />
              <div class="plus" onclick="increase('xmax')">
                <span>
                  +
                </span>
              </div>
              <div style="opacity: 0; height: 0" align="center">
                <input type="checkbox" id="xlog">
              </div>
            </div>
          </div>

          <div class="d-flex">
            <div class="d-flex gap-10">
              <div class="d-flex position-relative">
                <div class="position-absolute label">
                  Axis Y1
                </div>
                <div class="minus" onclick="decrease('ymin')">
                  <span>
                    <div class="minus-icon">
                    </div>
                  </span>
                </div>
                <input class="axis-input" type="number" size="8" id="ymin" value="0" onfocus="wpd.alignAxes.zoomCalPoint(2);" />
                <div class="plus" onclick="increase('ymin')">
                  <span>
                    +
                  </span>
                </div>
              </div>

              <div class="d-flex position-relative">
                <div class="position-absolute label">
                  Axis Y2
                </div>
                <div class="minus" onclick="decrease('ymax')">
                  <span>
                    <div class="minus-icon">
                    </div>
                  </span>
                </div>
                <input class="axis-input" type="number" size="8" id="ymax" value="0" onfocus="wpd.alignAxes.zoomCalPoint(0);" />
                <div class="plus" onclick="increase('ymax')">
                    <span>
                      +
                    </span>
                </div>
                <div style="opacity: 0; height: 0" align="center"><input type="checkbox" id="ylog" /></div>

              </div>
              <p style="opacity: 0; display: none;" align=" center"><label><input type="checkbox" id="xy-axes-no-rotation"/>Assume axes are perfectly aligned with image coordinates (skip rotation correction)</label></p>
              <p style="text-align: left; margin-right: 5px; margin-bottom: 5px; margin-top: 5px;" align="center"><input type="button" class="xybtn" id="xybtn" value="Start" onclick="wpd.alignAxes.align();" /></p>
            </div>

          </div>
      </div>
        <!-- <center >
            <table style="border: 1px solid blue; margin-left: 0; margin-right: auto" padding="10">
                <tr>
                    <td></td>
                    <td align="center" valign="bottom">Point 1</td>
                    <td align="center" valign="bottom" width="80">Point 2</td>
                    <td style="opacity: 0" align="center" valign="bottom" width="82">Log Scale</td>
                </tr>
                <tr>
                    <td align="center">X-Axis:</td>
                    <td class="d-flex" align="center">
                      <div class="minus">
                        -
                      </div>
                      <input class="axis-input" type="text" size="8" id="xmin" value="0" onfocus="wpd.alignAxes.zoomCalPoint(0);" />
                      <div class="plus">
                        +
                      </div>
                    </td>
                    <td align="center">
                      <input class="axis-input" type="text" size="8" id="xmax" value="1" onfocus="wpd.alignAxes.zoomCalPoint(1);" />
                    </td>
                    <td style="opacity: 0" align="center">
                      <input type="checkbox" id="xlog">
                    </td>
                </tr>
                <tr>
                    <td align="center">Y-Axis:</td>
                    <td align="center"><input class="axis-input" type="text" size="8" id="ymin" value="0" onfocus="wpd.alignAxes.zoomCalPoint(2);" /></td>
                    <td align="center"><input class="axis-input" type="text" size="8" id="ymax" value="1" onfocus="wpd.alignAxes.zoomCalPoint(3);" /></td>
                    <td style="opacity: 0" align="center"><input type="checkbox" id="ylog" /></td>
                </tr>
            </table>
            <p style="opacity: 0; display: none;" align="center"><label><input type="checkbox" id="xy-axes-no-rotation"/>Assume axes are perfectly aligned with image coordinates (skip rotation correction)</label></p>
            <p style="text-align: left;" align="center"><input type="button" id="xybtn" value="OK" onclick="wpd.alignAxes.align();" /></p>
        </center> -->
      </div>
        <div id="diffractogram-box" style="height: 0" class="d-flex">
          <div  id="diffractogram" class="d-flex">
            <div class="position-relative">
              <button class="box-shadow btn-picker" onclick="wpd.colorPicker.startPicker(); wpd.colorSelectionWidget.pickColor();">
                <i class="bi bi-eyedropper"></i>
              </button>
              <div class="hidden-legend picker-legend">
                  Select plot line
                  <div class="triangle-up"></div>
              </div>
            </div>
            <div id="diffractogram-selectors" class="d-flex">
              <div class="position-relative">
                <button id="select-view" class="box-shadow" onclick="wpd.dataMask.markBox();">
                  <img src="../img2data/images/icon/select-window.svg" alt="">
                </button>
                <div class="hidden-legend select-legend">
                  Select area
                  <div class="triangle-up"></div>
                </div>
              </div>
              <div class="position-relative">
                <button id="reset-btn" class="box-shadow" onclick="wpd.acquireData.clearAll(); wpd.dataMask.clearMask(); wpd.dataMask.unMarkButton();">
                  <img src="../img2data/images/icon/reset-icon.svg" alt="">
                </button>
                <div class="hidden-legend reset-legend">
                  Reset
                  <div class="triangle-up"></div>
                </div>
              </div>
              <div class="minus box-shadow" style="max-height: 35px !important;" onclick="increaseXPlot(); wpd.dataMask.unMarkButton();">
                <span>
                  <div class="minus-icon">
                  </div>
                </span>
              </div>
              <div class="plus box-shadow" style="max-height: 35px !important;" onclick="decreaseXPlot(); wpd.dataMask.unMarkButton();">
                <span>
                  +
                </span>
              </div>
              <div class="run-btn box-shadow" onclick="wpd.algoManager.run(); wpd.dataMask.unMarkButton();">
                RUN
              </div>
            </div>
          </div>
          <div class="picker-selected">
            Line Color Selected !
          </div>
        </div>
      </div>
    <div id="allContainer">
        <!-- toolbar + graphics -->
        <div id="mainContainer">
            <div id="topContainer" style="display: none">
                <div id="menuButtonsContainer">{% include "_menubar.html" %}</div>


                <div id="topToolbarContainer" style="display: none">
                    <!-- controls that show on top -->
                    <div style="position:relative;">
                        <!-- Extra toolbars go here -->
                        {% include "_toolbars.html" %}
                    </div>
                </div>

                <div style="display: inline-flex; justify-content: space-between; width: 200px; position: absolute; top: 9px; right: 290px; display: none;">
                    <button type="button" title="Rotate 90° counter-clockwise" onclick="wpd.graphicsWidget.rotateCounterClockwise();" style="border:none; width:20px; font-size:16px; display:inline-flex; align-items:self-end; justify-content:center;">↺</button>
                    <button type="button" title="Rotate 90° clockwise" onclick="wpd.graphicsWidget.rotateClockwise();" style="border:none; width:20px; font-size:16px; display:inline-flex; align-items:self-end; justify-content:center;">↻</button>
                    <button type="button" title="Zoom in" onclick="wpd.graphicsWidget.zoomIn();" style="border:none; width:20px;">+</button>
                    <button type="button" title="Zoom out" onclick="wpd.graphicsWidget.zoomOut();" style="border:none; width:20px;">-</button>
                    <button type="button" title="View actual size" onclick="wpd.graphicsWidget.zoom100perc();" style="border:none;">100%</button>
                    <button type="button" title="Fit to graphics area" onclick="wpd.graphicsWidget.zoomFit();" style="border:none;">{{ _("Fit") }}</button>
                    <button title="Toggle extended crosshair" onclick="wpd.graphicsWidget.toggleExtendedCrosshairBtn();" style="border:none; width:20px; background-image: url('images/crosshair.png'); background-repeat: no-repeat; background-position: center;" id="extended-crosshair-btn">&nbsp;</button>
                </div>

            </div>

            <div style="display: flex;">
                <div id="left-side-container" style="width:200px; flex: 0 0 169px; display: none;">
                    <!-- tree control -->
                    {% include "_tree.html" %}
                </div>

                <div id="graphicsContainer" style="flex: 1;max-height: 520px;">
                    <!-- the main canvas goes here -->
                    <div id="canvasDiv" style="position:relative;">
                        <canvas id="mainCanvas" class="canvasLayers" style="z-index:1;"></canvas>
                        <canvas id="dataCanvas" class="canvasLayers" style="z-index:2;"></canvas>
                        <canvas id="drawCanvas" class="canvasLayers" style="z-index:3;"></canvas>
                        <canvas id="hoverCanvas" class="canvasLayers" style="z-index:4;"></canvas>
                        <canvas id="topCanvas" class="canvasLayers" style="z-index:5;"></canvas>
                    </div>
                </div>
            </div>

            <div id="bottomContainer" style="display: none">
                <div id="bottomNavbarContainer">{% include "_navbar.html" %}</div>
            </div>
        </div>

        <!-- sidebar + zoom -->
        <div id="sidebarContainer" style="display: none">
            <!-- zoom window goes here -->
            <div style="position:relative;" id="zoomDiv">
                <canvas id="zoomCanvas" class="zoomLayers" width=250 height=250 style="position:relative; top: 0px; left: 0px; z-index:1;"></canvas>
                <canvas id="zoomCrossHair" class="zoomLayers" width=250 height=250 style="position:absolute; top: 0px; left: 0px; z-index:2; background:transparent;"></canvas>
                <div id="cursorPosition" style="position:relative;">
                    [<span id="mousePosition"></span>]
                </div>
            </div>

            <div id="zoom-settings-container"><input type="button" id="zoom-settings-button" title="Change zoom settings" value="&#9881;" onclick="wpd.zoomView.showSettingsWindow();" /></div>

            <div style="position:relative;" id="sidebarControlsContainer">
                <!-- side bars go here -->
                {% include "_sidebars.html" %}
            </div>

        </div>
    </div>

    <!-- popup windows go here -->
    {% include "_popups.html" %}

    <!-- strings for translation -->
    {% include "_strings.html" %}

</body>

</html>